<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %C - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ALL_FILE" class="ch.qos.logback.core.FileAppender">
		<file>/log/resin/all.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<append>true</append>

		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %C - %msg%n</pattern>
		</encoder>
	</appender>


	<appender name="ERROR_FILE" class="ch.qos.logback.core.FileAppender">
		<file>/log/resin/error.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %C - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="io.leopard.boot.requestmapping" level="OFF">
	</logger>
	<logger name="org.springframework.web.servlet.mvc.method" level="OFF">
	</logger>


	<logger name="com.vbp.chufang" level="OFF">
	</logger>

	<logger name="org.springframework.test.context.support" level="OFF">
	</logger>







	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ALL_FILE" />
		<appender-ref ref="ERROR_FILE" />
	</root>

</configuration>